flows.json
[{"id":"1190631a.bf0f9d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d1b0f564.f1e128","type":"ui_form","z":"1190631a.bf0f9d","name":"","label":"Health Insurance Predictor Form","group":"b6dc1059.0a9b7","order":0,"width":0,"height":0,"options":[{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Sex","value":"sx","type":"text","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Children","value":"ch","type":"number","required":true,"rows":null},{"label":"Smoker","value":"smkr","type":"text","required":true,"rows":null},{"label":"Region","value":"reg","type":"text","required":true,"rows":null}],"formValue":{"ag":"","sx":"","bmi":"","ch":"","smkr":"","reg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":60,"wires":[["af1711b6.b4728"]]},{"id":"af1711b6.b4728","type":"function","z":"1190631a.bf0f9d","name":"token function","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"smkr\",msg.payload.smkr)\nglobal.set(\"reg\",msg.payload.reg)\nvar apikey=\"bEdPhBmzJtyQ1gsgAfboB7oJ6d1kbYQ2vMGIVFb_wShx\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\", \"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":60,"wires":[["481bd7ee.cbad38"]]},{"id":"481bd7ee.cbad38","type":"http request","z":"1190631a.bf0f9d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":60,"wires":[["3c0e601.f7739a"]]},{"id":"3c0e601.f7739a","type":"function","z":"1190631a.bf0f9d","name":"Predictor","func":"var ag= global.get('ag')\nvar sx= global.get('sx')\nvar bmi= global.get('bmi')\nvar ch= global.get('ch')\nvar smkr= global.get('smkr')\nvar reg= global.get('reg')\nvar token=msg.payload.access_token\nvar instance_id= \"cfd6d529-ee24-4e96-aed8-fb7774c25811\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\": \"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\":[\"age\",\"sex\",\"bmi\",\"children\",\"smoker\",\"region\"], \"values\" :[[ag,sx,bmi,ch,smkr,reg]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":260,"wires":[["56d353b1.9a18ac"]]},{"id":"56d353b1.9a18ac","type":"http request","z":"1190631a.bf0f9d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/40dbd06c-c04d-492a-8828-c94bb1d8a656/predictions","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":260,"wires":[["60f3a7b5.e07fe8","22748973.c0fc26"]]},{"id":"60f3a7b5.e07fe8","type":"function","z":"1190631a.bf0f9d","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["3c783de8.88c3f2"]]},{"id":"22748973.c0fc26","type":"debug","z":"1190631a.bf0f9d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":500,"wires":[]},{"id":"3c783de8.88c3f2","type":"ui_text","z":"1190631a.bf0f9d","group":"5d4b5d4a.52daa4","order":1,"width":0,"height":0,"name":"","label":"Insurance Amount","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":260,"wires":[]},{"id":"b6dc1059.0a9b7","type":"ui_group","z":"","name":"home","tab":"64741ee2.ef13","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d4b5d4a.52daa4","type":"ui_group","z":"","name":"Amount","tab":"64741ee2.ef13","order":2,"disp":true,"width":"6","collapse":false},{"id":"64741ee2.ef13","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]